body {
    background-color: rgba(6, 140, 218, 0.884);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#errorMessage {
    color: red;
    font-weight: bold;
    font-size: small;
    display: none;
}

#taskInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#taskInput:hover {

    outline-color: #007bff;
    transition: 2s ease;

}

#addTaskButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#addTaskButton:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.complete {
    text-decoration: line-through;
    color: gray;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.mark-complete {
    background-color: #007bff;
    color: white;
}

.mark-complete:hover {
    background-color: #0056b3;
}

.delete-task {
    background-color: #dc3545;
    color: white;
}

.delete-task:hover {
    background-color: #c82333;
}

.edit-Task {
    background-color: rgb(163, 13, 126);
    color: white;
}

.edit-Task:hover {
    transition: background-color 0.2s ease;
}
